html{
    font-family: Arial, Helvetica, sans-serif;
}
/* .right {
    position: absolute;
    right: 0px;
    width: 300px;
    
    
  }
  img {
    border-radius: 8px;
} */
table
{
  border-collapse: collapse; 
  text-align: center;
  width: 55%;
}
  td  {
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 8px;
  }
   th {
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #357FC6;
    color: white;
  }

/*   #record  td, #record th {
    border: 1px solid whitesmoke;
    padding: 8px;
  } */
   tr:nth-child(odd){
      background-color:#B9E2F4;
}
 tr:hover {
    background-color: #41b4e6;
}
a{
    color:#357FC6;
    font-weight: bolder;
}
a:hover {
    color: #41b4e6;
}
/* #record th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #357FC6;
    color: white;
} */
/* .right {
  position: absolute;
  right: 0px;
  width: 750px;
  
  
}
.left{
  position: absolute;
  left: 0px;
  width: 1350px;
  
  
} */
/* #data
{
  font-size: 20px;
}
#data
{
  
  width: 50%;}
  #data tr:nth-child(even){background-color:white;}

#data tr:hover {background-color:lightcyan}
#data td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ecf9ec


  ;
  color: Black;
} */